---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";

---

<Layout title="Landing Page BP">
  <Hero />
  <main>
    Hoal
  </main>
  <Footer />
</Layout>

<style></style>
